<!DOCTYPE html>
<html ng-app="consLingProg">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <style>
    .loading {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
  <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/index.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div ng-controller="AppCtrl">

    <div ng-cloak>

      <md-toolbar>
        <div class="md-toolbar-tools ">
          <h1 class="md-title"> Base para migração de linguagens de programação </h1>
        </div>

      </md-toolbar>

      <div layout="row">
        <div flex="90">
          <md-tabs md-dynamic-height md-border-bottom>
            <!--///////////////////////Dados e Variáveis isdadosVariaveis(1)//////////////////////////// -->

            <md-tab label="Dados e Variáveis">
              <md-content id="dadosVariaveispasso1" ng-show="isdadosVariaveis(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="dadosVariaveisCor"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Funções matemáticas">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Tipos de Dados ">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.tipDados.sintaxe}} exemplo={{l.tipDados.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>

                      <md-tab label="Constantes">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.const.sintaxe}} exemplo={{l.const.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>

            <!--///////////////////////Comandos Básicos//////////////////////////// -->

            <md-tab label="Comandos Básicos">

              <md-content id="comandosBasicospasso1" ng-show="iscomandosBasicos(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="comandosBasicosCor"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Leitura">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.leitu.sintaxe}} exemplo={{l.leitu.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Escrita">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.escri.sintaxe}} exemplo={{l.escri.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Atribuição">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.atrib.sintaxe}} exemplo={{l.atrib.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Comentários">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
            <!--///////////////////////Est. Condicionais//////////////////////////// -->

            <md-tab label="Est. Condicionais">
              <md-content id="passo1" ng-show="isestCondicionais(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="estCondicionaisCor"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Operadores Lógicos">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Condicional 'Se /   Senão' ">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>


                        <md-card flex-xs flex-gt-xs="45" class="cartaoMedio" layout="column" flex="grow" ng-show="visibilidade.pascal">
                          <md-card-header>
                            <md-card-avatar>
                              <img class="md-user-avatar" src="res/img/pascal.png">
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title">Linguagem Pascal </span>
                              <span class="md-subhead">Sub header</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">Estrutura condicional</span>
                              <span class="md-subhead">Se condição verdadeira faça algo, se não faça outra coisa</span>
                            </md-card-title-text>
                          </md-card-title>
                          <md-divider></md-divider>
                          <md-card-actions>
                            <md-button class="md-raised md-accent" ng-click="sintaxe.c = !sintaxe.c">Ver código de Sintaxe</md-button>
                            <md-button class="md-raised md-primary" ng-click="sintaxe.c = !sintaxe.c">Ver código de Exemplo</md-button>
                          </md-card-actions>
                          <md-divider></md-divider>
                          <md-card-content>
                            <p class="md-body-1">
                              If (Condição) Then
                              <br> Begin
                              <blockquote>
                                Instruções;
                              </blockquote>
                              End
                              <br> Else
                              <br> Begin
                              <blockquote>
                                Instruções;
                              </blockquote>
                              End;
                              <br>

                            </p>
                          </md-card-content>
                        </md-card>
                        <md-card flex-xs flex-gt-xs="45" class="cartaoMedio" flex="grow" layout="column" ng-show="visibilidade.java">
                          <md-card-header>
                            <md-card-avatar>
                              <img class="md-user-avatar" src="res/img/java.png">
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title">Linguagem Java </span>
                              <span class="md-subhead">Sub header</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">Estrutura condicional</span>
                              <span class="md-subhead">Se condição verdadeira faça algo, se não faça outra coisa</span>
                            </md-card-title-text>
                          </md-card-title>
                          <md-divider></md-divider>
                          <md-card-actions>
                            <md-button class="md-raised md-accent" ng-click="sintaxe.c = !sintaxe.c">Ver código de Sintaxe</md-button>
                            <md-button class="md-raised md-primary" ng-click="sintaxe.c = !sintaxe.c">Ver código de Exemplo</md-button>
                          </md-card-actions>
                          <md-divider></md-divider>
                          <md-card-content>
                            <p class="md-body-1">
                              if (Condição)
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                              <br> else
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                              <br>
                            </p>
                          </md-card-content>
                        </md-card>
                        <md-card flex-xs flex-gt-xs="45" class="cartaoMedio" layout="column" ng-show="visibilidade.javascript">
                          <md-card-header>
                            <md-card-avatar>
                              <img class="md-user-avatar" src="res/img/javascript.png">
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title">Linguagem JavaScript </span>
                              <span class="md-subhead">Sub header</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">Estrutura condicional</span>
                              <span class="md-subhead">Se condição verdadeira faça algo, se não faça outra coisa</span>
                            </md-card-title-text>
                          </md-card-title>
                          <md-divider></md-divider>
                          <md-card-actions>
                            <md-button class="md-raised md-accent" ng-click="sintaxe.c = !sintaxe.c">Ver código de Sintaxe</md-button>
                            <md-button class="md-raised md-primary" ng-click="sintaxe.c = !sintaxe.c">Ver código de Exemplo</md-button>
                          </md-card-actions>
                          <md-divider></md-divider>
                          <md-card-content>
                            <p class="md-body-1">
                              if (Condição)
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                              <br> else
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                              <br>
                            </p>
                          </md-card-content>
                        </md-card>
                        <md-card flex-xs flex-gt-xs="45" layout="column" ng-show="visibilidade.php">
                          <md-card-header>
                            <md-card-avatar>
                              <img class="md-user-avatar" src="res/img/php.png">
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title">Linguagem PHP </span>
                              <span class="md-subhead">versão: 5.2.0</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">Estrutura condicional</span>
                              <span class="md-subhead">Se condição verdadeira faça algo, se não, Se condição verdadeira faça outra coisa, se não faça
                                outra coisa</span>
                              <span class="md-subhead">Obs: Ha duas formas de definir blocos: abrir com
                                <b>" : "</b> e fechar com
                                <b>" endif "</b> ou Abrir com
                                <b>" { "</b> e fechar com
                                <b>" } "</b>
                              </span>
                            </md-card-title-text>
                          </md-card-title>
                          <md-divider></md-divider>
                          <md-card-actions>
                            <md-button class="md-raised md-accent" ng-click="sintaxe.c = !sintaxe.c">Ver código de Sintaxe</md-button>
                            <md-button class="md-raised md-primary" ng-click="sintaxe.c = !sintaxe.c">Ver código de Exemplo</md-button>
                          </md-card-actions>
                          <md-divider></md-divider>
                          <md-card-content>
                            <p class="md-body-1">

                              if (Condição)
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                              <br> elseif (Condição)
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                              <br> else
                              <br> {
                              <blockquote>
                                Instruções;
                              </blockquote>
                              }
                            </p>

                          </md-card-content>


                        </md-card>

                        <md-card flex-xs flex-gt-xs="45" class="cartaoMedio" layout="column">
                          <md-card-header>
                            <md-card-avatar>
                              <img class="md-user-avatar" src="res/img/python.png">
                            </md-card-avatar>
                            <md-card-header-text>
                              <span class="md-title">Linguagem Python </span>
                              <span class="md-subhead">Sub header</span>
                            </md-card-header-text>
                          </md-card-header>
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">Estrutura condicional</span>
                              <span class="md-subhead">Se condição verdadeira faça algo, se não faça outra coisa</span>
                              <span class="md-subhead">Obs: Os blocos de comandos em Python são definidos por recuo (na linha posterior) após declaração
                                da condicional.</span>
                            </md-card-title-text>
                          </md-card-title>
                          <md-divider></md-divider>
                          <md-card-actions>
                            <md-button class="md-raised md-accent" ng-click="sintaxe.c = !sintaxe.c">Ver código de Sintaxe</md-button>
                            <md-button class="md-raised md-primary" ng-click="sintaxe.c = !sintaxe.c">Ver código de Exemplo</md-button>
                          </md-card-actions>
                          <md-divider></md-divider>
                          <md-card-content>
                            <p class="md-body-1">
                              if (Condição):
                              <blockquote>Instruções</blockquote>
                              else:
                              <blockquote>Instruções</blockquote>
                            </p>
                          </md-card-content>

                        </md-card>

                        </md-card-content>

                      </md-tab>
                      <md-tab label="Escolha/Caso">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>


                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Est. Repetição">
              <!--///////////////////////estRepeticao isestRepeticao(1)//////////////////////////// -->

              <md-content id="passo1" ng-show="isestRepeticao(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="BNDESdadosVariaveisr"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Contadores">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Laço 'For'">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Teste no início">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Teste no final">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.subtitulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </div>
        <div flex="10" layout="column" class="menuLogo md-padding" layout-align="start center">
          <md-button class="my-list-buttons" aria-label="Bookmark" ng-click="linguagens[0].visibilidade = !linguagens[0].visibilidade">
            <img class="md-user-avatar logo" src="res/img/c.png">
          </md-button>
          <md-button class="my-list-buttons" aria-label="Bookmark" ng-click="linguagens[1].visibilidade = !linguagens[1].visibilidade">
            <img class="md-user-avatar logo" src="res/img/pascal.png">
          </md-button>
          <md-button class=" my-list-buttons " aria-label="Bookmark" ng-click="linguagens[2].visibilidade = !linguagens[2].visibilidade">
            <img class="md-user-avatar logo" src="res/img/java.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[3].visibilidade = !linguagens[3].visibilidade">
            <img class="md-user-avatar logo" src="res/img/javascript.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[4].visibilidade = !linguagens[4].visibilidade">
            <img class="md-user-avatar logo" src="res/img/php.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[5].visibilidade = !linguagens[5].visibilidade">
            <img class="md-user-avatar logo" src="res/img/python.png">
          </md-button>
        </div>
      </div>

    </div>
  </div>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.mask.js"></script>

  <script src="js/index.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>



</body>
{{873}}

</html>