<!DOCTYPE html>
<html ng-app="consLingProg">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <style>
    .loading {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
  <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/index.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div ng-controller="AppCtrl">

    <div ng-cloak>

      <md-toolbar>
        <div class="md-toolbar-tools ">
          <h1 class="md-title"></h1>
        </div>

      </md-toolbar>

      <div layout="row" >
        <div flex="90" >
          <md-tabs md-dynamic-height md-border-bottom >
            <!--///////////////////////Dados e Variáveis isdadosVariaveis(1)//////////////////////////// -->

            <md-tab label="Dados e Variáveis">
              <md-content id="dadosVariaveispasso1" ng-show="isdadosVariaveis(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="dadosVariaveisCor"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Funções matemáticas">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.funMAt.subtitulo}} titulo={{l.funMAt.titulo}} altura={{l.altura}}
                              sintaxe={{l.funMAt.sintaxe}} exemplo={{l.funMAt.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Tipos de Dados ">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.tipDados.subtitulo}}  titulo={{l.tipDados.titulo}} altura={{l.altura}}
                              sintaxe={{l.tipDados.sintaxe}} exemplo={{l.tipDados.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>

                      <md-tab label="Constantes">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.const.subtitulo}}  titulo={{l.const.titulo}}  altura={{l.altura}}
                              sintaxe={{l.const.sintaxe}} exemplo={{l.const.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>

            <!--///////////////////////Comandos Básicos//////////////////////////// -->

            <md-tab label="Comandos Básicos">

              <md-content id="comandosBasicospasso1" ng-show="iscomandosBasicos(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="comandosBasicosCor"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Leitura">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.leitu.subtitulo}}  titulo={{l.leitu.titulo}}  altura={{l.altura}}
                              sintaxe={{l.leitu.sintaxe}} exemplo={{l.leitu.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Escrita">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.escri.subtitulo}}  titulo={{l.escri.titulo}}  altura={{l.altura}}
                              sintaxe={{l.escri.sintaxe}} exemplo={{l.escri.exemplo}}>
                            </card>
                          </div>

                        </md-card-content>
                      </md-tab>
                      <md-tab label="Atribuição">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.atrib.subtitulo}}  titulo={{l.atrib.titulo}}  altura={{l.altura}}
                              sintaxe={{l.atrib.sintaxe}} exemplo={{l.atrib.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Comentários">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.comen.subtitulo}}  titulo={{l.comen.titulo}}  altura={{l.altura}}
                              sintaxe={{l.comen.sintaxe}} exemplo={{l.comen.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
            <!--///////////////////////Est. Condicionais//////////////////////////// -->

            <md-tab label="Est. Condicionais">
              <md-content id="passo1" ng-show="isestCondicionais(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="estCondicionaisCor"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Operadores Lógicos">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.opLog.subtitulo}}  titulo={{l.opLog.titulo}}  altura={{l.altura}}
                              sintaxe={{l.opLog.sintaxe}} exemplo={{l.opLog.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Condicional 'Se /   Senão' ">
                        <md-card-content class="md-padding"  layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.condi.subtitulo}}  titulo={{l.condi.titulo}}  altura={{l.altura}}
                              sintaxe={{l.condi.sintaxe}} exemplo={{l.condi.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Escolha/Caso">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.escol.subtitulo}}  titulo={{l.escol.titulo}}  altura={{l.altura}}
                              sintaxe={{l.escol.sintaxe}} exemplo={{l.escol.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Est. Repetição">
              <!--///////////////////////estRepeticao isestRepeticao(1)//////////////////////////// -->

              <md-content id="passo1" ng-show="isestRepeticao(1)">
                <div class="md-padding" layout-xs="column" layout="row" layout-align="center">
                  <md-card flex-xs flex-gt-xs="90" layout="column">
                    <div class="BNDESdadosVariaveisr"></div>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Contadores">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.conta.subtitulo}}  titulo={{l.conta.titulo}}  altura={{l.altura}}
                              sintaxe={{l.conta.sintaxe}} exemplo={{l.conta.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Laço 'For'">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.refor.subtitulo}}  titulo={{l.refor.titulo}}  altura={{l.altura}}
                              sintaxe={{l.refor.sintaxe}} exemplo={{l.refor.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Teste no início">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.reIni.subtitulo}}  titulo={{l.reIni.titulo}}  altura={{l.altura}}
                              sintaxe={{l.reIni.sintaxe}} exemplo={{l.reIni.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                      <md-tab label="Teste no final">
                        <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>
                          <div ng-repeat="l in linguagens ">
                            <card ling={{l.nome}} imagem={{l.imagem}} visi="l.visibilidade" versao={{l.versao}} subtitulo={{l.reFim.subtitulo}}  titulo={{l.reFim.titulo}}  altura={{l.altura}}
                              sintaxe={{l.reFim.sintaxe}} exemplo={{l.reFim.exemplo}}>
                            </card>
                          </div>
                        </md-card-content>
                      </md-tab>
                    </md-tabs>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </div>
        <div flex="10" layout="column" class="menuLogo md-padding " layout-align="start center">
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[0].visibilidade = !linguagens[0].visibilidade">
            <img class="md-user-avatar logo" src="img/c.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[1].visibilidade = !linguagens[1].visibilidade">
            <img class="md-user-avatar logo" src="img/pascal.png">
          </md-button>
          <md-button class=" my-list-buttons " aria-label="Bookmark" ng-click="linguagens[2].visibilidade = !linguagens[2].visibilidade">
            <img class="md-user-avatar logo" src="img/java.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[3].visibilidade = !linguagens[3].visibilidade">
            <img class="md-user-avatar logo" src="img/javascript.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[4].visibilidade = !linguagens[4].visibilidade">
            <img class="md-user-avatar logo" src="img/php.png">
          </md-button>
          <md-button class="my-list-buttons " aria-label="Bookmark" ng-click="linguagens[5].visibilidade = !linguagens[5].visibilidade">
            <img class="md-user-avatar logo" src="img/python.png">
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.mask.js"></script>
  <script src="js/index.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
</body>
</html>