<md-card style="max-width:400px"  style="min-height:altura"   flex="grow" data-ng-show="visi">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" ng-src={{imagem}}>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">Linguagem {{ling}} </span>
        <span class="md-subhead">{{versao}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{titulo}}</span>
        <span ng-bind-html="subtitulo" class="md-subhead"></span>
        <span data-ng-if="ling=='PHP'" class="md-subhead">Obs: Ha duas formas de definir blocos: abrir com <b>" : "</b> e fechar com <b>" endif "</b>  ou Abrir com <b>" { "</b> e fechar com <b>" } "</b></span>
        <span data-ng-if="ling=='Python'" class="md-subhead">Obs: Esta linguagem abre e fecha os blocos atraves da indentação (recuo no codigo)</span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
        <md-card-actions >
           <div layout="row"  layout-align="end"> 
            <md-button  class="md-raised md-primary" ng-click="mostraExemplo = !mostraExemplo">Ver código de Exemplo</md-button>
          </div>
          </md-card-actions>
    <md-divider></md-divider>
    <md-card-content >  
    <div layout="row" layout-align="center"> 
        <p  flex="45"  ng-bind-html="sintaxe"></p>
        <p ng-if="mostraExemplo" ng-bind-html="exemplo"></p>
    </div>
    </md-card-content>
  </md-card>  