<md-card  style="min-height:altura"  class="cartaoTamanho" flex="noshrink"  data-ng-show="visi">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" ng-src={{imagem}}>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">Linguagem {{ling}} </span>
        <span class="md-subhead">{{versao}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{titulo}}</span>
        <span ng-bind-html="subtitulo" class="md-subhead"></span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
        <md-card-actions >
           <div layout="row"  layout-align="end"> 
            <md-button  class="md-raised md-primary" ng-click="mostraExemplo = !mostraExemplo">Ver código de Exemplo</md-button>
          </div>
          </md-card-actions>
    <md-divider></md-divider>
    <md-card-content >  
    <div layout="row"  > 
        <p class="md-subhead"   ng-if="!mostraExemplo" ng-bind-html="sintaxe" layout-align="start"></p>
        <p class="md-subhead" ng-if="mostraExemplo" ng-bind-html="exemplo" layout-align="end"></p>
    </div>
    </md-card-content>
  </md-card>  