.espacamento{
    margin: 30px;
}
.dropdown-menu{
  width:200px;
  height: 224px;
  overflow:auto;
}
.dropdown-menu li a{
  width:100%;
  background-color: #fff;
  text-align: center;
}

.dadosVariaveisCor{        
    height:10px;
    background-color: #FF4500;

}
.comandosBasicosCor{        
    height:10px;
    background-color: #66bb6a;

}
.estCondicionaisCor{        
    height:10px;
    background-color: #ffcc80;

}
.estRepeticaoCor{        
    height:10px;
    background-color: #bcaaa4;

}
.menuLogo{
    background-color: gray;
   
}


.logo{
    width: 75%;
}
.cartaoCodigo{
    width: 400px;
}
