.espacamento{
    margin: 30px;
}
.dropdown-menu{
  width:200px;
  height: 224px;
  overflow:auto;
}
.dropdown-menu li a{
  width:100%;
  background-color: #fff;
  text-align: center;
}

.dadosVariaveisCor{
    background-color: #FF4500;
}
.comandosBasicosCor{ 
    background-color: #66bb6a;
}
.estCondicionaisCor{ 
    background-color: #ffcc80;
}
.estRepeticaoCor{  
    background-color: #bcaaa4;
}
.menuLogo{
    background-color: #3F51B5;   
}


.logo{
    width: 75%;
}

.botaoBarra{
    height:50px;
}
.logoBarra{
    height:100%;
}



@media screen and  (max-width: 600px) {

    .cartaoTamanho{
        max-width: 250px;     
    }

}
@media screen and (min-width: 701px) and (max-width: 80px) {

    .cartaoTamanho{
        max-width: 280px;     
    }

}
@media only screen and (min-width: 901px) {
    .cartaoTamanho{
        max-width: 380px;     
    }

}  